<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello Employees</title>
  
  <!-- Add CSS styling -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
<div class="container jumbotron jumbotron-fluid" align="center">
	<h1 class="display-4">Employee Management Tool</h1>
</div>
	<div class="container-sm" th:with="pageNum=${page}, entrySize=${entriesSize}">
	<a th:href="@{/api/employees/new}"  class="btn btn-primary btn-sm" style="margin:10px; text-align:left;">Add new employee</a>

	
	<div style="margin:10px">
		<table border= 1 class="table table-hover table-bordered" >
		<thead  class = "thead-dark">
			  <tr>
			    <th scope="col">ID</th>
			    <th scope="col">First Name</th>
			    <th scope="col">Last Name</th>
			    <th scope="col">Email</th>
			    <th scope="col">Action</th>
			  </tr>	
		  </thead>
		  <tr class="table-primary " th:each="employee : ${employees}">
		    <td th:utext="${employee.id}"></td>
		    <td th:utext="${employee.firstName}">name</td>
		    <td th:utext="${employee.lastName}">name</td>
		    <td th:utext="${employee.Email}">email</td>
		    <td>
			    <a th:href="@{/api/employees/showUpdateForm(employeeID=${employee.id})}">Update</a> | 
			    <a th:href="@{/api/employees/delete(employeeID=${employee.id})}">Delete</a>
		    </td>
		  </tr>
		</table>
		</div>
		<a th:href="@{/api/employees/new}"  class="btn btn-primary btn-sm" style="margin:10px">Add new employee</a>
		<div class="container-fluid">
		<nav class="navbar">
		  <ul class="pagination">
		  <li class="page-item" th:if="${pageNum - 1} >= 0 "><a class="page-link" th:href="@{/api/employees(pageNo=${pageNum - 1},pageSize=${entrySize})}">Previous</a></li>
		    <li class="page-item"><a class="page-link" th:href="@{/api/employees(pageNo=${pageNum},pageSize=${entrySize})}" th:utext="${pageNum + 1}"> </a></li>
		    <li class="page-item" th:if="${page + 1} <= ${numOfPages}"><a class="page-link" th:href="@{/api/employees(pageNo=${pageNum + 1},pageSize=${entrySize})}" th:utext="${pageNum + 2}"> </a></li>
		    <li class="page-item" th:if="${page + 1} <= ${numOfPages}"><a class="page-link" th:href="@{/api/employees(pageNo=${pageNum + 1},pageSize=${entrySize})}">Next</a></li>
		  </ul>
		  <ul class="pagination" >
		  	<li class="page-item btn">No of Entries</li>
		    <li class="page-item"><a class="page-link" th:href="@{/api/employees(pageNo=${pageNum},pageSize=${10})}">10</a></li>
		    <li class="page-item"><a class="page-link" th:href="@{/api/employees(pageNo=${pageNum},pageSize=${20})}">20</a></li>
		  </ul>
		</nav>
		</div>
		
	</div>
  	
</body>
</html>